@import url(https://fonts.googleapis.com/css?family=Tangerine);

body {
    margin: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
}

header, main .about {
    background-image: url("./asset/bg.jpg");
    background-size: cover;
}

header {
    top: 0;
    position: sticky;
    padding: 10px 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    font-family: Tangerine;
    font-size: 35px;
    margin-right: auto;
}

.logo:hover {
    color: #0088a9;
}

.list>li {
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
}

.list>li:hover {
    color: #0088a9;
    transition: all 0.3s ease 0.0s;
}

.list>li a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

.contact {
    padding: 9px 25px;
    margin-left: 40px;
    background-color: rgb(236, 243, 245);
    border: none;
    cursor: pointer;
    transition: all 0.3s rase 0s;
    border-radius: 50px;
    font-family: sans-serif;
    font-weight: 600;
}

.contact:hover {
    background-color: #0088a9;
    transition: all 0.3s ease 0.0s;
}

main>.about {

    padding: 200px 20% 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #fff;
}

.intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 40px;
}

.wave {
    padding-left: 70px;
    font-size: 60px;
}

.wave:hover {
    animation-name: wave;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
}

@keyframes wave {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}


.typed {
    padding-left: 30px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blinking {
    0% {
        border-color: transparent
    }

    50% {
        border-color: whitesmoke
    }

    100% {
        border-color: transparent
    }
}

.about-me {
    padding: 10px 10px;
    margin-left: 45%;
    background-color: #0088a9;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.3s rase 0s;
    border-radius: 50px;
    font-family: sans-serif;
    font-weight: 600;
    color: inherit;
}

.about-me:hover {
    transition: all 0.3s ease 0.0s;
    cursor: pointer;
}


.skills {}